SITE_URL=https://maxfavilli.com
PUBLIC_SITE_NAME=Max Favilli
PUBLIC_DISPLAY_SITE_TITLE=max@favilli:~$
PUBLIC_SITE_TAGLINE=Ideas on IT, AI, investing, and everything else that matters.
PUBLIC_CONTACT_EMAIL=hello@example.com
